/* Configurações Globais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #680448;
    color: #a53266;
}

/* Cabeçalho */
header {
    background-color: #a73394;
    color: white;
    padding: 2rem text-align;
    text-align: center;
}

/* Container Principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/* Tipografia */
h2 {
    color: #d154c7;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}

/* Rodapé */
footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-top: 40px;
    padding-bottom: 20px;
}